@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary color #E84125 */

@layer base {
  :root {
    --background: 190.19 0% 100%;
    --foreground: 0 0% 12.55%;
    --muted: 0 0% 93.73%;
    --muted-foreground: 0 0% 39.22%;
    --popover: 0 0% 98.82%;
    --popover-foreground: 0 0% 12.55%;
    --card: 210 16.67% 97.65%;
    --card-foreground: 0 0% 12.55%;
    --border: 220 10.34% 88.63%;
    --input: 220 10.34% 88.63%;
    --primary: 8.62 80.91% 52.75%;
    --primary-foreground: 44 0% 100%;
    --secondary: 8.62 100% 88.6%;
    --secondary-foreground: 16.27 50.43% 22.94%;
    --accent: 0 0% 90.98%;
    --accent-foreground: 0 0% 12.55%;
    --destructive: 10.16 77.87% 53.92%;
    --destructive-foreground: 0 0% 100%;
    --ring: 8.62 80.91% 52.75%;
    --radius: 1.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 225 5.88% 13.33%;
    --foreground: 0 0% 93.33%;
    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 70.59%;
    --popover: 225 4% 19.61%;
    --popover-foreground: 0 0% 93.33%;
    --card: 0 0% 9.8%;
    --card-foreground: 0 0% 93.33%;
    --border: 0 0% 22.75%;
    --input: 0 0% 29.23%;
    --primary: 8.62 80.91% 52.75%;
    --primary-foreground: 0 0% 93.33%;
    --secondary: 0 0% 43.14%;
    --secondary-foreground: 0 0% 93.33%;
    --accent: 205.71 5.51% 24.9%;
    --accent-foreground: 0 0% 93.33%;
    --destructive: 10.16 77.87% 53.92%;
    --destructive-foreground: 0 0% 100%;
    --ring: 23.11 59.8% 40%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
    @apply bg-background text-foreground;
  }
}

/* Invisible Scrollbar Styles */

/* For Webkit browsers: Chrome, Safari, Brave, Edge (Chromium) */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* For Firefox */
* {
  scrollbar-width: none;
}

/* For Edge (non-Chromium) */
body {
  -ms-overflow-style: none;
}
